* {
    /* Will make it so padding, borders, etc. are counted 
    in size styles. Code Academy said to do. */
    box-sizing: border-box;
    /* reset padding, margin, and border to 0, so easier to size specifically. */
    padding: 0;
    margin: 0;
    border: 0;
}

body{
    font-family: 'Noto Sans', sans-serif;
    background-color: var(--columbia-blue);
}

:root {
    --eton-blue: #A3C9A8;
    --dark-cornflower-blue: #324376;
    --hookers-green: #426A5A;
    --cream: #FFFDD0;

    --ivory: #FFFFF0;
    --california-blue: #449DD1;
    --iceberg: #79A9D1;
    --columbia-blue: #ADCAD6;
}

nav {
    z-index: 99; /* makes sure that links on buttons work */
    position: sticky;
    top: 0;
    background-color: var(--iceberg);
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#nav-items {
    position: relative;
    width: 90%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-button {
    background-color: var(--ivory);
    color: black;
    text-decoration: none;
    padding: 10px;
    border-radius: 5px;
}

#image-block {
    background-color: var(--ivory);
    position: fixed;
    top: 75px;
    left: 100px;
    width: 240px;
    padding: 20px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    gap: 1rem;
}

.image-block-center {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#me-image {
    width: 200px;
    height: 200px;
    padding: 8px;
    border-color: var(--iceberg);
    border-radius: 50%;
    border-style: solid;
    border-width: 3px;
}

.primary-title {
    width: 100%;
    font-size: 1.5rem;
    text-align: left;
}

.secondary-title {
    width: 100%;
    font-size: 1rem;
    opacity: 75%;
}

#link-images {
    background-color: var(--iceberg);
    padding: 0.3rem 0 0 0;
    border-radius: 15px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 90%;
}

.link-image {
    width: 32px; 
    height: 32px;
}

#other-info {
    background-color: var(--ivory);
    position: fixed;
    width: 240px;
    top: 500px;
    left: 100px;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#content {
    position: relative;
    left: 50vw;
    width: 50vw;
    height: 1000px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.content-box {
    position: relative;
    background-color: var(--ivory);
    width: 90%;
    height: 200px;
    border-radius: 15px;
}