* {
    /* Will make it so padding, borders, etc. are counted 
    in size styles. Code Academy said to do. */
    box-sizing: border-box;
    /* reset padding, margin, and border to 0, so easier to size specifically. */
    padding: 0;
    margin: 0;
    border: 0;
}

nav {
    background-color: rgb(75, 72, 72);
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
}

.nav-button {
    color: black;
    text-decoration: none;
    background-color: white;
    padding: 10px;
    border-radius: 5px;
}

#main-body {
    position: relative;
    width: auto; 
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#image-block {
    z-index: 1;
    padding: 20px; 
    background-color: rgb(136, 132, 132);
    border-style: solid;
    border-width: 5px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h1 {
    color: rgb(76, 76, 223);
}

#me-image {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border-style: solid;
    border-width: 3px;
}

#link-images {
    display: flex;
    justify-content: center;
    align-items: center;
}

.link-image {
    width: 32px; 
    height: 32px;
}

footer {
    background-color: rgb(75, 72, 72);
    height: 300px;
}
