* {
    /* Will make it so padding, borders, etc. are counted 
    in size styles. Code Academy said to do. */
    box-sizing: border-box;
    /* reset padding, margin, and border to 0, so easier to size specifically. */
    padding: 0;
    margin: 0;
    border: 0;
}

body{
    font-family: 'Noto Sans', sans-serif;
    background-color: var(--columbia-blue);
}

:root {
    --eton-blue: #A3C9A8;
    --dark-cornflower-blue: #324376;
    --hookers-green: #426A5A;
    --cream: #FFFDD0;

    --ivory: #FFFFF0;
    --california-blue: #449DD1;
    --iceberg: #79A9D1;
    --columbia-blue: #ADCAD6;

    --timeline-size: 0.25rem; /* rem = 16px, so anything that divides it will round */
}

nav {
    z-index: 99; /* makes sure that links on buttons work */
    position: sticky;
    top: 0;
    background-color: var(--iceberg);
    height: 3.5rem;
}

#nav-items {
    position: relative;
    left: 7.5vw;
    width: 85vw;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-button {
    background-color: var(--ivory);
    color: black;
    text-decoration: none;
    padding: 0.5rem;
    border-radius: 0.5rem;
}

h1 {
    text-align: center;
}

#head-container {
    padding: 1rem;
    padding-top: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

#head {
    width: 50vw;
    background-color: var(--ivory);
    border-radius: 1rem;
    padding: 1rem;
}

#timeline {
    /* background-color: var(--eton-blue); */
    width: 42.5vw;
    position: relative;
    left: 7.5vw;
    border-right: solid;
    border-color: var(--california-blue);
    border-width: var(--timeline-size);
}

.left-box {
    background-color: var(--ivory);
    margin: 1rem 1rem 1rem 0;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.left-point {
    background-color: var(--california-blue);
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
    position: absolute;
    right: calc(-0.75rem - (var(--timeline-size) / 2)); /* push right by half of point width and account for border */ 
}

.right-box {
    background-color: var(--ivory);
    margin: 1rem 0 1rem 1rem;
    border-radius: 15px;
    position: relative;
    left: calc(100% + var(--timeline-size)); /* accounts for border */
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.right-point {
    background-color: var(--california-blue);
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
    position: absolute;
    left: calc(-1rem - 0.75rem - (var(--timeline-size) / 2)); /* push left by half of point width and account for border */
}

.box-content {
    padding: 1rem;
    display: flex;
    gap: 1rem;
}

.titles {
    background-color: var(--columbia-blue);
    padding: 1rem;
    border-radius: 1rem;
}

.techs-list {
    display: flex;
    flex-wrap: wrap;
}

.tech {
    background-color: var(--iceberg);
    color: var(--ivory);
    border-radius: 3px;
    padding: 0.25rem;
    margin: 0.25rem;
}

img {
    width: 16rem;
    height: 16rem;
    border-radius: 1rem;
}

/* Fonts */

#oliverpetrick {
    font-size: 1.75rem;
}

.title {
    width: 100%;
    font-size: 1.5rem;
    text-align: left;
}

.time {
    width: 100%;
    font-size: 1.25rem;
}

.details {
    width: 100%;
    font-size: 1.25rem;
    opacity: 75%;
}

.description {
    font-size: 1rem;
    padding: 1rem 0;
}

.tech-title {
    font-size: 1.25rem;
}